.terms-of-use-container {
    border-top: 2px solid blue;
    text-align: center;
    margin-top: 15px;
    padding: 50px 0px;
    width: 100%;

    max-width: 1150px;
	position: relative;
	left: 50%;
	translate: -50%;
    
    .terms-of-use-text-container {
        width: 80%;
        margin: 0px auto;
        
        h2 {
            color: blue;
            font-size: 24px;
            margin-bottom: 35px;
        }

        .text-section-container {
            text-align: left;
        
            h3 {
                color: blue;
                font-style: italic;
                margin: 20px 0;
                text-transform: capitalize;
            }

            p {
                font-size: 14px;
                line-height: 1.7;
                
                span {
                    color: blue;
                }
            }
        }
    }
}

// ***** RESPONSIVE STYLING *****
@media screen and (max-width: 900px) {
    .terms-of-use-container {
        margin-top: 0px;
        padding: 15px 0px;

        .terms-of-use-text-container {
            h2 {
                margin-bottom: 10px;
            }
        }
    }
}
