.sign-in-container {
    border-top: 2px solid blue;
    color: blue;
    height: 650px;
    margin-top: 55px;

    .sign-in-text-container {
        margin: 50px auto;
        width: 80%;
        
        .sign-in-methods-container {
            display: flex;
            justify-content: space-around;

            .sign-in-method {
                border: 2px solid blue;
                border-radius: 15px;
                padding: 15px;
                text-align: center;
                height: 550px;
                width: 350px;

                h2 {
                    font-size: 24px;
                    font-style: italic;
                    font-weight: bold;
                    margin-bottom: 15px;
                }

                button {
                    border: 2px solid royalblue;
                    border-radius: 10px;
                    margin-top: 25px;
                    padding: 10px 20px;
                }

                button:hover {
                    background-color: royalblue;
                    color: white;
                }
            }

            .sign-up-method {
                border: 2px solid blue;
                border-radius: 15px;
                padding: 15px;
                text-align: center;
                height: 550px;
                width: 400px;
            }
        }
    }
}