.sign-in-container {
    border-top: 2px solid blue;
    color: blue;
    height: 500px;
    width: 100%;
    margin: 50px auto;

    .sign-in-text-container {
        margin: 50px auto;
        text-align: center;
        width: 80%;

        h2 {
            font-size: 36px;
        }

        button {
            border: 2px solid blue;
            border-radius: 7px;
            margin-top: 15px;
            padding: 5px 17px;
        }

        button:hover {
            background-color: blue;
            color: white;
        }
    }
}