.faq-container {
    border-top: 2px solid blue;
    margin-top: 15px;
    padding-top: 45px;
    text-align: center;
    width: 100%;

    max-width: 1150px;
	position: relative;
	left: 50%;
	translate: -50%;
    
    h2 {
        color: blue;
        font-family: Gabriola, sans-serif;
        font-size: 40px;
        letter-spacing: 1.4px;
        text-transform: capitalize;
    }

    .faq-text-container {
        font-size: 16px;
        margin: 0px auto;
        padding: 5px 0px;
        text-align: left;
        width: 80%;

        details > summary {
            list-style: none;
        }

        details {
            color: blue;
            margin: 40px 0px;

            .root-details-container {
                background: black;
                color: white;
                height: 45px;
                padding: 12px 12px;
            }

            .level-one-details-container {
                color: black;
                font-size: 20px;

                .click-me {
                    color: blue;
                    text-decoration: underline;
                }

                h3 {
                    color: blue;
                    font-size: 16px;
                    margin-top: 10px;
                    margin-left: 10px;
                }

                
                h4 {
                    margin: 15px 0px;
                }

                p {
                    font-size: 16px;
                    line-height: 1.4;
                    padding-top: 15px;
                }

                .important-notice {
                    color: blue;
                }

            }
        }
    }
}

// ***** RESPONSIVE STYLING *****
@media screen and (max-width: 900px) {
    .faq-container {
        margin-top: 0px;
    }
}
