.shop-container {
    border-top: 2px solid blue;
    // box-shadow: 5px 10px black;
    // height: 500px;
    margin-top: 55px;
    width: 100%;
    // padding: 50px;

    h2 {
        color: blue;
        font-size: 30px;
        font-style: oblique;
        // font-weight: bold;
        // letter-spacing: 1px;
        margin-bottom: 0px;
        padding: 10px 0px 0px 25px;
        text-transform: capitalize;
        // text-shadow: 2px 1px black;
    }

    .products-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 10px;
        row-gap: 50px;
    }
}