.shop-container {
    border-top: 2px solid blue;
    // box-shadow: 5px 10px black;
    // height: 500px;
    margin-top: 55px;
    width: 100%;

    display: flex;
    flex-wrap: wrap;

    // grid-template-columns: 60px 60px;    
    // justify-content: center;
}