.payment-form-container {
    max-width: 300px;
    margin: 10px auto;
    // display: flex;
    // flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
        margin: 15px auto;
    }

    button {
        border: 2px solid blue;
        border-radius: 15px;
        margin: 15px auto;
        padding: 10px 20px;
    }

    button:hover {
        color: white;
        background-color: blue;
    }
}