// ***** ADDRESS BAR *****
.address-bar-container {
    display: flex;
    position: absolute;
    justify-content: space-between;
    height: 50px;
    width: 100%;

    .website-title-container {

        
        h1 {
            
            margin-top: 3px;
            margin-left: 5px;
            .nav-link {
                color: blue;
                // background-color: white;
                font-family: Gabriola, 'Times New Roman', sans-serif;
                font-size: 32px;
                font-weight: lighter;
                // margin-bottom: -18px;
                // padding-top: 300px;
                text-decoration: none;
                // list-style-type: none;
        }
    }
    
    h1:hover {
        cursor: pointer;
    }
}

    .navigation-container ul {
        display: flex;
        justify-content: space-between;
        font-size: 10px;
        font-weight: bold;
        list-style-type: none;
        margin-top: 20px;
        margin-left: 0px;
        width: 450px;
        padding: 0px;

        li {
            text-decoration: none;
        }

        li:last-child {
            color: blue;
        }

        li:hover {
            cursor: pointer;
        }
    }

    .search-box-container {
        font-size: 12px;
        margin: 0px;
        padding: 0px;
        opacity: 0.4;
       
       .search-box {
        appearance: none;
        -webkit-appearance: none;
        outline: none;
        padding: 0px;
        width: 120px;
        line-height: 25px;
        margin-top: 10px;
        padding: 0px 5px;
       } 
    }

    .search-box-container:hover {
        opacity: 1;
    }

    .my-account-container {
        // border: 2px solid red;
        border-top: none;
        color: black;
        font-size: 14px;
        font-weight: bold;
        margin: 16px 0px 0px 0px;
        padding: 0px;
    }

    .my-account-container:hover {
        cursor: pointer;
    }

    .shop-icon-container {
        font-size: 14px;
        font-weight: bold;
        margin-top: 15px;
        margin-right: 5px;
    }

    .shop-icon-container:hover {
        cursor: pointer;
    }
}

.address-bar-container:hover {
    background-color: white;
}