.returns-container {
    border-top: 2px solid blue;
    text-align: center;
    margin-top: 15px;
    padding: 50px 0px;
    width: 100%;

    max-width: 1150px;
	position: relative;
	left: 50%;
	translate: -50%;

    .returns-text-container {
        margin: 50px auto;
        text-align: left;
        width: 80%;

        h3 {
            color: blue;
            font-style: italic;
            font-size: 24px;
            margin: 30px 0px;
        }

        p {
            line-height: 1.4;
        }

        span {
            font-weight: bold;
        }
    }
}

.footer-container {
    padding-top: 0px;
}

.sales-bar-container {
    font-size: 12px;
}

// ***** RESPONSIVE STYLING *****
@media screen and (max-width: 900px) {
    .returns-container {
        margin-top: 0px;
        padding: 0px;
    }
}
