.returns-container {
    border-top: 2px solid blue;
    text-align: center;
    margin-top: 60px;
    padding: 50px 0px;
    width: 100%;

    h2 {
        color: blue;
    }

    .returns-text-container {
        margin: 50px auto;
        text-align: left;
        width: 80%;

        h3 {
            color: blue;
            font-style: italic;
            // font-size: 24px;
        }

        span {
            font-weight: bold;
        }
    }
}

.footer-container {
    padding-top: 0px;
}

.sales-bar-container {
    font-size: 12px;
}
