.my-account-container {
    border-top: 2px solid blue;
    color: blue;
    min-height: 460px;
    margin: 15px auto 0px auto;
    padding: 25px;
    text-align: center;

    max-width: 1150px;

    .my-account-content {
        font-size: 38px;

        .user-information {

            
            .user-photo {
                border: 2px solid blue;
                border-radius: 15px;
                height: 140px;
                margin: 10px auto;
            }
        }

        .user-email {
            font-size: 30px;
        }

        .buttons-container {
            button {
                border: 2px solid blue;
                border-radius: 15px;
                margin: 15px;
                padding: 10px 15px;
            }

            button:hover {
                color: white;
                background-color: blue;
            }
        }
    }

    .login-needed {
        font-size: 38px;

        button {
            border: 2px solid blue;
            border-radius: 15px;
            display: block;
            padding: 10px 15px;
            margin: 20px auto 0px auto;
        }

        button:hover {
            background-color: blue;
            color: white;
        }
    }
}

// ***** RESPONSIVE STYLING *****
@media screen and (max-width: 450px) {
    .my-account-container {
        height: 100%;
    }
}

@media screen and (max-width: 900px) {
    .my-account-container { 
        margin-top: 0px;
    }
}
