.my-account-container {
    border-top: 2px solid blue;
    color: blue;
    height: 460px;
    margin-top: 55px;
    padding: 25px;
    text-align: center;

    .my-account-content {
        font-size: 38px;

        .user-information {

            
            .user-photo {
                border: 2px solid blue;
                border-radius: 15px;
                height: 140px;
                margin: 10px auto;
            }
        }

        .user-email {
            font-size: 30px;
        }

        .lets-go-shopping-btn {
            button {
                border: 2px solid blue;
                border-radius: 15px;
                margin-top: 15px;
                padding: 10px 15px;
            }

            button:hover {
                color: white;
                background-color: blue;
            }
        }
    }

    .login-needed {
        font-size: 38px;

        button {
            border: 2px solid blue;
            border-radius: 15px;
            display: block;
            padding: 10px 15px;
            margin: 20px auto 0px auto;
        }

        button:hover {
            background-color: blue;
            color: white;
        }
    }
}