.contact-us-container {
    border-top: 2px solid blue;
    text-align: center;
    margin: 15px 0px;
    width: 100%;

    max-width: 1150px;
    position: relative;
    left: 50%;
    translate: -50%;

    .contact-us-text-container {
        margin: 0 auto;
        width: 80%;

        h2 {
            color: blue;
            font-size: 24px;
            margin: 40px 0px 30px 0px;
            text-transform: uppercase;
        }
    
        p {
            line-height: 1.4;
            margin: 20px;
        }
    }

    .contact-us-form-container {
        margin: 0 auto;
        width: 80%;

        div {
            margin: 25px 0px;
        }
    }
}

// ***** RESPONSIVE STYLING *****
@media screen and (max-width: 900px) {
    .contact-us-container {
        margin-top: 0px;
    }
}
