.our-story-container {
    border-top: 2px solid blue;
    text-align: center;
    margin: 15px 0px;
    width: 100%;

    max-width: 1150px;
	position: relative;
	left: 50%;
	translate: -50%;

    .our-story-text-container {
        margin: 0 auto;
        width: 80%;
    

    h2 {
        margin-top: 50px;
        text-transform: uppercase;
    }

    h3 {
        color: blue;
        font-family: Gabriola, sans-serif;
        font-size: 44px;
        margin: 50px auto;
        text-transform: uppercase;
    }

    p {
        line-height: 1.4;
        margin: 20px;
    }

    .our-story-signature {
        color: blue;
    }

    .signature-image {
        background-image: url('https://ik.imagekit.io/dwimageKit/blue-letter-boutique/our-story-signature/nicole.jpg?updatedAt=1684462311367');
        background-repeat: no-repeat;
        background-position: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        border: 2px solid blue;
        border-radius: 5px;
        height: 450px;
        width: 300px;
        margin: 0 auto;
    }
}}

// ***** RESPONSIVE STYLING *****
@media screen and (max-width: 900px) {
    .our-story-container {
        margin-top: 0px;

        .our-story-text-container {
            h2 {
                margin-top: 10px;
            }

            h3 {
                margin: 10px auto;
            }
        }
    }
}
