// ***** SALES BAR *****
.sales-bar-container {
    background-color: black;
    color: white;
    height: 50px;
    text-align: center;
    padding: 1px;
    margin-bottom: 1px;
    
    h2 {
        font-size: 14px;
        font-weight: 500;
        margin: 5px 0px 0px 0px;
    }
    
    p {
        font-size: 10px;
        margin: 2px 0px 0px 0px;
    }
}

// ***** RESPONSIVE STYLING *****
@media screen and (max-width: 975px) {
    .sales-bar-container {
        width: 100%;
    }
}

@media screen and (max-width: 575px) {
    .sales-bar-container {
        width: 100%;
    }
}

@media screen and (max-width: 415px) {
    .sales-bar-container {
        width: 100%;
    }
}