// ***** SALES BAR *****
.sales-bar-container {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    margin-bottom: 1px;
    
    h2 {
        margin-top: 5px;
    }
    
    p {
        font-size: 12px;
        margin-top: 5px;
    }
}