.sales-bar-container {
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px;
  margin-bottom: 1px;
}
.sales-bar-container h2 {
  margin-top: 5px;
}
.sales-bar-container p {
  font-size: 12px;
  margin-top: 5px;
}

.address-bar-container {
  display: flex;
  position: absolute;
  justify-content: space-between;
  height: 50px;
  width: 100%;
}
.address-bar-container h1 {
  color: blue;
  font-family: Gabriola, "Times New Roman", sans-serif;
  font-size: 32px;
  margin-top: 12px;
  margin-left: 5px;
}
.address-bar-container h1:hover {
  cursor: pointer;
}
.address-bar-container .navigation-container ul {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  font-weight: bold;
  list-style-type: none;
  margin-top: 20px;
  margin-left: 0px;
  width: 450px;
  padding: 0px;
}
.address-bar-container .navigation-container ul li {
  text-decoration: none;
}
.address-bar-container .navigation-container ul li:last-child {
  color: blue;
}
.address-bar-container .navigation-container ul li:hover {
  cursor: pointer;
}
.address-bar-container .search-box-container {
  font-size: 12px;
  margin: 0px;
  padding: 0px;
}
.address-bar-container .search-box-container .search-box {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  outline: none;
  padding: 0px;
  width: 120px;
  line-height: 25px;
  margin-top: 10px;
  padding: 0px 5px;
}
.address-bar-container .my-account-container {
  font-weight: bold;
  margin-top: 15px;
}
.address-bar-container .my-account-container:hover {
  cursor: pointer;
}
.address-bar-container .shop-icon-container {
  font-weight: bold;
  margin-top: 15px;
  margin-right: 5px;
}
.address-bar-container .shop-icon-container:hover {
  cursor: pointer;
}

.address-bar-container:hover {
  background-color: white;
}

.jumbotron-container {
  background-image: url("https://ik.imagekit.io/dwimageKit/blue-letter-boutique/city-girls.jpg?updatedAt=1683683648362");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  width: 100%;
  text-align: center;
}
.jumbotron-container .jumbotron-text h2 {
  font-family: Gabriola, sans-serif;
  font-size: 112px;
  padding-top: 20px;
  letter-spacing: 1.5px;
  line-height: 1.4;
  text-align: center;
  text-shadow: -1px -1px 0 blue, 0 -1px 0 white, 1px -1px 0 blue, 1px 0 0 black, 1px 1px 0 black, 0 1px 0 black, -1px 1px 0 black, -1px 0 0 black;
  background: -webkit-linear-gradient(55deg, blue, black);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.jumbotron-container .jumbotron-text p {
  color: blue;
  font-family: Gabriola, sans-serif;
  font-size: 54px;
  margin-top: 150px;
  letter-spacing: 4px;
  border-bottom: 2px solid blue;
  width: 570px;
  margin: 150px auto 0px;
  text-shadow: -1px -1px 0 blue, 0 -1px 0 white, 1px -1px 0 blue, 1px 0 0 black, 1px 1px 0 black, 0 1px 0 black, -1px 1px 0 black, -1px 0 0 black;
  background: -webkit-linear-gradient(55deg, blue, black);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.jumbotron-container .jumbotron-text p:hover {
  cursor: pointer;
}

.trends-container {
  text-align: center;
}
.trends-container .trends-text {
  border-bottom: 2px solid blue;
  color: blue;
  font-weight: bold;
  font-family: Gabriola, sans-serif;
  font-size: 20px;
  margin: 35px auto 25px auto;
  padding-bottom: 8px;
  text-transform: uppercase;
}
.trends-container .trends-image-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.trends-container .trends-image-container .left-trend-container {
  background-image: url("https://ik.imagekit.io/dwimageKit/blue-letter-boutique/red-dress.jpg?updatedAt=1683860768652");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 2px solid blue;
  border-radius: 5px;
  margin-left: 60px;
  height: 500px;
  width: 40%;
}
.trends-container .trends-image-container .left-trend-container p {
  color: blue;
  font-family: "Segoe Script", Gabriola, sans-serif;
  font-size: 62px;
  margin-top: 325px;
  transform: rotate(-10deg);
}
.trends-container .trends-image-container .left-trend-container:hover {
  cursor: pointer;
}
.trends-container .trends-image-container .right-trend-container {
  background-image: url("https://ik.imagekit.io/dwimageKit/blue-letter-boutique/white-dress.jpg?updatedAt=1683860758177");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 2px solid blue;
  border-radius: 5px;
  margin-right: 60px;
  height: 500px;
  width: 40%;
}
.trends-container .trends-image-container .right-trend-container p {
  color: blue;
  font-family: "Segoe Script", Gabriola, sans-serif;
  font-size: 62px;
  margin-top: 325px;
  transform: rotate(10deg);
}
.trends-container .trends-image-container .right-trend-container:hover {
  cursor: pointer;
}

.categories-container {
  width: 100%;
}
.categories-container .categories-text-container {
  border-bottom: 2px solid blue;
  color: blue;
  font-weight: bold;
  font-family: Gabriola, sans-serif;
  font-size: 20px;
  margin: 35px auto 25px auto;
  text-align: center;
  padding-bottom: 8px;
  text-transform: uppercase;
}
.categories-container .category-items-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 25px auto;
}
.categories-container .category-items-container .dresses-categories-container {
  color: blue;
  background-image: url("https://ik.imagekit.io/dwimageKit/blue-letter-boutique/dresses/subdued-green.jpg?updatedAt=1683944493593");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 2px solid blue;
  border-radius: 5px;
  height: 300px;
  width: 15%;
  cursor: pointer;
}
.categories-container .category-items-container .two-piece-categories-container {
  color: blue;
  background-image: url("https://ik.imagekit.io/dwimageKit/blue-letter-boutique/two-piece/white-and-pink-two-piece.jpg?updatedAt=1683945099275");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 2px solid blue;
  border-radius: 5px;
  height: 300px;
  width: 15%;
  cursor: pointer;
}
.categories-container .category-items-container .shirts-categories-container {
  color: blue;
  background-image: url("https://ik.imagekit.io/dwimageKit/blue-letter-boutique/shirts/blue-shirt.jpg?updatedAt=1683945223429");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 2px solid blue;
  border-radius: 5px;
  height: 300px;
  width: 15%;
  cursor: pointer;
}
.categories-container .category-items-container .pants-categories-container {
  color: blue;
  background-image: url("https://ik.imagekit.io/dwimageKit/blue-letter-boutique/pants/torn-pants.jpg?updatedAt=1683945354964");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 2px solid blue;
  border-radius: 5px;
  height: 300px;
  width: 15%;
  cursor: pointer;
}
.categories-container .category-items-container .hats-categories-container {
  color: blue;
  background-image: url("https://ik.imagekit.io/dwimageKit/blue-letter-boutique/hats/blue-hat.jpg?updatedAt=1683944821595");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 2px solid blue;
  border-radius: 5px;
  height: 300px;
  width: 15%;
  cursor: pointer;
}
.categories-container .category-items-container .shoes-categories-container {
  color: blue;
  background-image: url("https://ik.imagekit.io/dwimageKit/blue-letter-boutique/shoes/boots-two.jpg?updatedAt=1683945452561");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 2px solid blue;
  border-radius: 5px;
  height: 300px;
  width: 15%;
  cursor: pointer;
}

.footer-container {
  background-color: black;
  color: white;
  height: 25px;
  padding-top: 5px;
  text-align: center;
  width: 100%;
}/*# sourceMappingURL=App.styles.css.map */