// ***** SALES BAR *****
.sales-bar-container {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    
    h2 {
        margin-top: 5px;
    }
    
    p {
        font-size: 12px;
        margin-top: 5px;
    }
}

// ***** ADDRESS BAR *****
.address-bar-container {
    // border: 2px solid red;
    display: flex;
    justify-content: space-between;
    height: 50px;

    h1 {
        color: blue;
        font-family: Gabriola, 'Times New Roman', sans-serif;
        font-size: 32px;
        margin-top: 12px;
        margin-left: 5px;
    }

    h1:hover {
        cursor: pointer;
    }

    .navigation-container ul {
        // border: 2px solid red;
        display: flex;
        justify-content: space-between;
        font-size: 10px;
        font-weight: bold;
        list-style-type: none;
        margin-top: 20px;
        margin-left: 0px;
        width: 450px;
        padding: 0px;

        li {
            text-decoration: none;
        }

        li:last-child {
            color: blue;
        }

        li:hover {
            cursor: pointer;
        }
    }

    .search-box-container {
        // border: 2px solid red;
        font-size: 12px;
        margin: 0px;
        padding: 0px;
       
       .search-box {
        appearance: none;
        -webkit-appearance: none;
        outline: none;
        padding: 0px;
        width: 120px;
        line-height: 25px;
        margin-top: 10px;
        padding: 0px 5px;
       } 
    }

    .my-account-container {
        // border: 2px solid red;
        font-weight: bold;
        margin-top: 15px;
    }

    .my-account-container:hover {
        cursor: pointer;
    }

    .shop-icon-container {
        // border: 2px solid red;
        font-weight: bold;
        margin-top: 15px;
        margin-right: 5px;
    }

    .shop-icon-container:hover {
        cursor: pointer;
    }
}

// ***** JUMBOTRON *****
.jumbotron-container {
    // border: 2px solid red;
    background-image: url('https://ik.imagekit.io/dwimageKit/blue-letter-boutique/city-girls.jpg?updatedAt=1683683648362');
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 500px;
    width: 100%;
    text-align: center;

    .jumbotron-text h2 {
        // border: 2px solid red;
        // color: blue;
        font-family: Gabriola, sans-serif;
        font-size: 112px;
        // font-weight: bold;
        padding-top: 20px;
        letter-spacing: 1.5px;
        line-height: 1.4;
        // margin-top: 20px;
        // margin: 20px 780px 0px 0px;
        text-align: center;
        // fill: none;
        // stroke: black;
        // stroke-width: 0.5px;
        // stroke-linejoin: round;
        // animation: 2s pulsate infinite;

        // @keyframes pulsate {
        //     50%{stroke-width: 5px;}
        // }
        // -webkit-text-fill-color: transparent;
        // -webkit-text-stroke: 1px;
        // -webkit-text-stroke-width: 1px;
        // -webkit-text-stroke-color: black;
        // text-shadow: #000 0px 0px 1px;
        // -webkit-font-smoothing: antialiased;
        text-shadow:
            -1px -1px 0 blue,
            0   -1px 0 white,
            1px -1px 0 blue,
            1px  0   0 black,
            1px  1px 0 black,
            0    1px 0 black,
            -1px  1px 0 black,
            -1px  0   0 black;
            // font-size: 72px;
        background: -webkit-linear-gradient(55deg, blue, black);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .jumbotron-text p {
        color: blue;
        // border: 2px solid red;
        font-family: Gabriola, sans-serif;
        font-size: 54px;
        margin-top: 150px;
        letter-spacing: 4px;
        border-bottom: 2px solid blue;
        width: 570px;
        margin: 150px auto 0px;
        // margin: 295px auto 0px auto;
        // -webkit-text-fill-color: transparent;
        // -webkit-text-stroke: 1px;
        // text-shadow: #000 0px 0px 1px;
        // -webkit-font-smoothing: antialiased;
        // text-shadow:
        //     -1px -1px 0 #000,
        //     0   -1px 0 #000,
        //     1px -1px 0 #000,
        //     1px  0   0 #000,
        //     1px  1px 0 #000,
        //     0    1px 0 #000,
        //     -1px  1px 0 #000,
        //     -1px  0   0 #000;
            text-shadow:
            -1px -1px 0 blue,
            0   -1px 0 white,
            1px -1px 0 blue,
            1px  0   0 black,
            1px  1px 0 black,
            0    1px 0 black,
            -1px  1px 0 black,
            -1px  0   0 black;
            // font-size: 72px;
            background: -webkit-linear-gradient(55deg, blue, black);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
    }

    .jumbotron-text p:hover {
        cursor: pointer;
    }
}
