body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ***** RESPONSIVE STYLING ***** */
@media screen and (max-width: 965px) {
  .search-box-container {
    display: none;
  }
}

/* *** Hides Hamburger Menu for screens bigger than 900px *** */
@media screen and (min-width: 901px) {
  .hamburger-icon {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .address-bar-container {
    display: none;
  }

  .hamburger-icon {
    display: block;
  }
}
